<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <!-- Mapping of basic administrative unit data -->
    <mapping>
        <class-a>org.msh.etbm.db.entities.AdministrativeUnit</class-a>
        <class-b>org.msh.etbm.db.dto.AdministrativeUnitDTO</class-b>

        <field>
            <a>countryStructure.name</a>
            <b>csName</b>
        </field>
    </mapping>


    <mapping map-null="false">
        <class-a>org.msh.etbm.services.admin.admunits.CountryStructureRequest</class-a>
        <class-b>org.msh.etbm.db.entities.CountryStructure</class-b>
    </mapping>


    <mapping>
        <class-a>org.msh.etbm.db.entities.AdministrativeUnit</class-a>
        <class-b>org.msh.etbm.services.admin.admunits.AdminUnitData</class-b>

        <field custom-converter-id="entity-id">
            <a>countryStructure</a>
            <b>csId</b>
        </field>

        <field custom-converter-id="entity-id">
            <a>parent</a>
            <b>parentId</b>
        </field>

        <field>
            <a>parent.name</a>
            <b>parentName</b>
        </field>

        <field>
            <a>countryStructure.name</a>
            <b>csName</b>
        </field>
    </mapping>


    <mapping map-null="false">
        <class-a>org.msh.etbm.services.admin.admunits.AdminUnitRequest</class-a>
        <class-b>org.msh.etbm.db.entities.AdministrativeUnit</class-b>

        <field custom-converter-id="entity-id">
            <a>csId</a>
            <b>countryStructure</b>
        </field>

        <field custom-converter-id="entity-id">
            <a>parentId</a>
            <b>parent</b>
        </field>
    </mapping>


    <mapping map-null="false">
        <class-a>org.msh.etbm.test.DataRequest</class-a>
        <class-b>org.msh.etbm.test.DataEntity</class-b>
    </mapping>
</mappings>
