<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <configuration>

        <custom-converters>
            <converter type="org.msh.etbm.test.DozerOptionalConverter">
                <class-a>java.util.Optional</class-a>
                <class-b>java.lang.Object</class-b>
            </converter>

            <converter type="org.msh.etbm.services.admin.admunits.impl.DozerAdminUnitConverter">
                <class-a>org.msh.etbm.services.admin.admunits.data.AdminUnitData</class-a>
                <class-b>org.msh.etbm.db.entities.AdministrativeUnit</class-b>
            </converter>
        </custom-converters>

        <copy-by-references>
            <copy-by-reference>java.util.UUID</copy-by-reference>
        </copy-by-references>

    </configuration>

</mappings>
