<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">



    <mapping bean-factory="org.msh.etbm.services.admin.products.DozerProductFactory">
        <class-a>org.msh.etbm.services.admin.products.ProductFormData</class-a>
        <class-b>org.msh.etbm.db.entities.Product</class-b>
    </mapping>

    <mapping bean-factory="org.msh.etbm.services.admin.products.DozerProductFactory">
        <class-a>org.msh.etbm.services.admin.products.ProductFormData</class-a>
        <class-b>org.msh.etbm.db.entities.Medicine</class-b>

        <field custom-converter-id="entity-id" custom-converter-param="org.msh.etbm.db.entities.Substance">
            <a>substances</a>
            <b>substances</b>
        </field>
    </mapping>


</mappings>
