<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">


    <mapping>
        <class-a>org.msh.etbm.db.entities.Regimen</class-a>
        <class-b>org.msh.etbm.services.admin.regimens.RegimenFormData</class-b>

        <field>
            <a>medicines</a>
            <b>medicines</b>
            <a-hint>org.msh.etbm.db.entities.MedicineRegimen</a-hint>
            <b-hint>org.msh.etbm.services.admin.regimens.MedicineRegimenFormData</b-hint>
        </field>
    </mapping>

    <mapping>
        <class-a>org.msh.etbm.db.entities.MedicineRegimen</class-a>
        <class-b>org.msh.etbm.services.admin.regimens.MedicineRegimenFormData</class-b>

        <field custom-converter-id="entity-id">
            <a>medicine</a>
            <b>medicineId</b>
        </field>
    </mapping>

</mappings>
