<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">


    <mapping>
        <class-a>org.msh.etbm.services.admin.usersws.data.UserWsFormData</class-a>
        <class-b>org.msh.etbm.db.entities.UserWorkspace</class-b>

        <field>
            <a>name</a>
            <b>user.name</b>
        </field>

        <field>
            <a>login</a>
            <b>user.login</b>
        </field>

        <field>
            <a>email</a>
            <b>user.email</b>
        </field>

        <field>
            <a>sendSystemMessages</a>
            <b>user.sendSystemMessages</b>
        </field>

        <field custom-converter-id="entity-id">
            <a>unitId</a>
            <b>unit</b>
        </field>

        <field custom-converter-id="entity-id" custom-converter-param="org.msh.etbm.db.entities.UserProfile">
            <a>profiles</a>
            <b>profiles</b>
        </field>

        <field>
            <a>view.view</a>
            <b>view</b>
        </field>

        <field custom-converter-id="entity-id">
            <a>view.adminUnitId</a>
            <b>adminUnit</b>
        </field>

        <field>
            <a>active</a>
            <b>user.active</b>
        </field>
    </mapping>

    <mapping>
        <class-a>org.msh.etbm.db.entities.UserWorkspace</class-a>
        <class-b>org.msh.etbm.services.admin.usersws.data.UserWsItemData</class-b>

        <field>
            <a>user.name</a>
            <b>name</b>
        </field>

        <field>
            <a>user.id</a>
            <b>userId</b>
        </field>
    </mapping>

    <mapping>
        <class-a>org.msh.etbm.db.entities.UserWorkspace</class-a>
        <class-b>org.msh.etbm.services.admin.usersws.data.UserWsData</class-b>

        <field>
            <a>user.name</a>
            <b>name</b>
        </field>

        <field>
            <a>user.active</a>
            <b>active</b>
        </field>

        <field>
            <a>user.active</a>
            <b>active</b>
        </field>

        <field>
            <a>user.emailConfirmed</a>
            <b>emailConfirmed</b>
        </field>

        <field>
            <a>user.passwordExpired</a>
            <b>passwordExpired</b>
        </field>
    </mapping>

</mappings>
