// app variables
@header-search-bg: #abc1b3;
@highlight-bg: #D6E4D6;

// the style of the button in input boxes
@input-btn-color: #a2a2a2;

// app components
@import "callout.less";
@import "card.less";
@import "profile.less";
@import "fluidbar.less";
@import "collapse-card.less";
@import "collapse-row.less";
@import "selection-box.less";
@import "day-picker.less";


/** The toolbar */
.navbar-brand {
	padding:8px;
}
.navbar-brand img {
	max-width: 160px;
	float: left;
}
.navbar-brand label {
	padding-top: 6px;
	padding-left:4px;
}

.placeholder(@color) {
	::-webkit-input-placeholder {color: @color}
	::-moz-placeholder {color: @color}
	:-ms-input-placeholder {color: @color}
}


.app-content {
	background-color: #EBF1F0;
	min-height: 500px;
	padding-bottom:10px;
    margin-top:50px;
}



.header-search {
	.search-input {
		padding:2px;
		background-color: @header-search-bg;
		border-radius: 4px;
		color: #606060;
		height:28px;
		margin-top:2px;

		input {
			border:none;
			width:auto;
			background-color: @header-search-bg;
			color: #000;
			float:left;

			.placeholder(@navbar-inverse-bg);
		}
		input:focus {
			box-shadow: none;
			outline:0;
		}
		button {
			float:right;
			background-color: @header-search-bg;
			border:none;
		}
	}

	.dropdown-menu > li > a {
		white-space: normal !important;
		width: 300px;
	}

}


@media (max-width: @screen-xs-max)  {
	.header-search {
		input {
			width:80%;
			padding:1px 0 0 4px;
		}
	}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.header-search {
		input {
			width: 100px;
		}
	}
	.navbar-inverse .navbar-nav > li > a {
    	padding-left:5px;
	}
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.header-search {
		input {
			width: 150px;
		}
	}
}
@media (min-width: @screen-lg-min) {
	.header-search {
		input {
			min-width:200px;
		}
	}
}

/** nav item in the toolbar with an icon */
.nav-item-icon {
	a {
		padding-top: 11px !important;
		padding-bottom:10px !important;
	}
}

/**
* Decorate the workspace label in the page header
**/
.header-ws {
	max-width: 100px;

	.ws-text {
		font-size: 0.9em;
	}

	.fa-inverse {
		color:#f0f0f0;
	}
}


/** The header style */
.header {
		box-shadow: #a0a0a0 0 4px 6px;

		// small padding for nav items
		.hsmall {
				padding-top: 2px;
				padding-bottom:4px;
		}
}

.dropdown {
	.fa-inverse {
		color: #f8f8f8;
	}
}
.dropdown:hover, .dropdown.open {
		.fa-inverse {
			color: @navbar-inverse-link-color;
		}
}

.footer {
 // border-top:1px solid #d0d0d0;
//  background-color: #e0e0e0;
	background-color: @body-bg;
	border-top:1px solid @btn-default-border;
	padding: 30px;
	min-height: 150px;
	img {
		margin-bottom: 40px;
	}
}


@media screen and (min-width:550px) {
	.central-container-sm {
		margin: 30px auto 20px;
		max-width:300px;
	}
	.central-container-md {
		margin: 30px auto 20px;
		max-width:450px;
	}
	.central-container-lg {
		margin: 30px auto 20px;
		max-width:700px;
	}
}

.mtop {
	margin-top:10px;
}

.mtop-2x {
	margin-top:20px;
}

.margin-2x {
	margin:20px;
}

.borderless {
	border:none;
	box-shadow: none;
}


.app-required {
	padding-left: 4px;
	color: #F7B64E;
	font-size: 0.9em !important;
}

.tbl-counter {
	background-color: @brand-success;
	margin-left:8px;
}

.circle-5x {
	width:80px;
	height:80px;
	border-radius: 40px;
	text-align: center;
	margin-right:20px;
	padding-top:10px;
}

.wait-icon-field {
	color: @gray-light;
	font-size:1.4em !important;
	margin: 0px 4px;
}

.wait-card {
	width:100%;
	text-align: center;
}
.wait-icon-card {
	color: @brand-primary;
	font-size:4em !important;
	margin: 10px 10px 30px 10px;
}

.tbl-cell {
	padding: 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.tbl-cell:hover {
	background-color: #f8f8f8;
}


.prof-tbunit {
    color: #CACEE4;
    background-color: #3F51B5;
}

.prof-lab {
	color: #DCF0DC;
    background-color: #4CAF50;
}

.prof-male {
	color: #43698E;
	background-color: #B0CFD0;
}

.prof-female {
	color: #C73F76;
	background-color: #DEC5F9;
}

.prof-ws {
    color: #CFE6F1;
    background-color: #607D8B;
}

.prof-medicine {
    color: #CC0606;
    background-color: #FFD2D2;
}

.prof-product {
    color: #CFE6F1;
    background-color: #607D8B;
}

.prof-user {
    color: #DEE8E3;
    background-color: #26775D;
}

.prof-tag-userdef {
    color: #FFFFFF;
    background-color: #3E6DC1;
}

.prof-tag-danger {
	color: #FFFFFF;
    background-color: #FF0000;
}

.prof-tag-warn {
	color: #FFFFFF;
    background-color: #DEAE00;
}

.shadow {
	box-shadow: 2px 2px 14px #b0b0b0;
}

.highlight {
    background-color: @highlight-bg !important;
    color: #799483;
}

.text-small {
	font-size: 0.8em;
}

.status-box {
	padding:2px 4px;
	border-radius: 2px;
}

.open.scrollable-menu {
	.dropdown-menu {
	    height: auto;
	    max-height: 300px;
	    overflow-x: hidden;
	}
}

.size-2 {
	width: 100% / 2 !important;
}
.size-4 {
	width: 100% / 4 !important;
}
.size-3 {
	width: 100% / 3 !important;
}

.subtitle {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	color: @brand-primary;
	border-bottom: 1px solid @legend-border-color;
	width:100%;
	margin: 20px 0 10px 0;
}


.form-control-action {
    position: absolute;
    right: 12px;
    bottom: 0px;
    height: 14px;
    margin: auto;
    margin-bottom:12px;
    font-size: 14px;
    cursor: pointer;
    color: @input-btn-color;
	transition: 0.5s;
	margin-left:10px;
}

.form-control-action:hover {
	color: darken(@input-btn-color, 30%);
}

.input-right-button {
	padding-right: 25px;
}

.box-control {
	position: static !important;
	padding-right: 45px;
	width: 100%;
	outline: none;
}

.bold{
  font-weight:bold;
}

.table1-title-row div{
  padding:4px;
}

.app-tabs {
  border-bottom: none;
  padding-top: 8px;

  li.active {
    a, a:hover {
      border-color: @brand-primary;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom-width: 4px;
      padding-left: 30px;
      padding-right: 30px;
      font-weight: bold;
      color: @brand-primary;
    }
  }

  li {
    a {
      color: #a0a0a0;
      text-transform: uppercase;
      padding-left:30px;
      padding-right:30px;
      border: none;
      border-bottom:4px solid #fff;
      border-color: #fff;

      transition: border-color 0.5s ease;
    }
    a:focus {
      background-color: transparent;
    }
    a:hover {
      background-color: transparent;
      border-color:@brand-primary;
    }
  }
}

.tag-link {
  cursor: pointer;
}

.tag-link:hover {
  background: #f0f0f0;
}

.tag-danger, .tag-userdef, .tag-warn {
  display: block;
  color: #909090;
  margin-top:2px;
  margin-bottom:2px;
  clear: both;
  padding:10px;
  border: 0 solid #fff;
  border-style: solid;
  border-left-width: 5px;
  margin-bottom: 4px;
  font-size: 13px;
}

.tag-danger {
  border-left-color: @brand-danger;
}

.tag-userdef {
  border-left-color: @brand-primary;
}
.tag-warn {
  border-left-color: @brand-success;
}


.title {
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
}

.nopadding{
	padding-top:0px;
    padding-left:0px;
    padding-bottom:0px;
    padding-right:0px;
}


