
// app components
@import "callout.less";
@import "card.less";
@import "fluidbar.less";
@import "collapse-card.less";
@import "collapse-row.less";
@import "selection-box.less";
@import "day-picker.less";
@import "list-box.less";


/** The toolbar */
.navbar-brand {
	padding:8px;
}
.navbar-brand img {
	max-width: 160px;
	float: left;
}
.navbar-brand label {
	padding-top: 6px;
	padding-left:4px;
}


.app-content {
	background-color: @content-bgcolor;
	min-height: 500px;
	padding-bottom:10px;
	margin-top: -1px;
	padding-top: 1px;
    background: -webkit-linear-gradient(to left, #4CA1AF, #C4E0E5);
    background: linear-gradient(to left, #bbced2, #e8f1f3);
}

.tb-margin {
	margin-top:50px;
}



.dropdown {
	.fa-inverse {
		color: #f8f8f8;
	}
}
.dropdown:hover, .dropdown.open {
		.fa-inverse {
			color: @navbar-inverse-link-color;
		}
}

.footer {
	background-color: @body-bg;
	border-top:1px solid @btn-default-border;
	padding: 30px;
	min-height: 150px;
	img {
		margin-bottom: 40px;
	}
}


.central-container-md {
	margin: 20px auto 20px;
	max-width:450px;
}

.mtop {
	margin-top:10px;
}

.mbottom {
	margin-bottom:10px;
}

.mbottom-2x {
	margin-bottom:20px;
}

.mright {
	margin-right:10px;
}

.mtop-2x {
	margin-top:20px;
}

.margin-2x {
	margin:20px;
}

.no-margin-bottom {
	margin-bottom:0 !important;
}

.def-margin-bottom {
	margin-bottom: 20px;
}

.borderless, .group-borderless input {
	border:none;
	box-shadow: none !important;
}

.group-borderless {
	.input-group-addon {
		background-color: transparent !important;
		border: none;
	}
}

.sub-text {
    color: #a0a0a0;
    font-weight: bold;
    font-size: 0.8em;
}


.app-required {
	padding-left: 4px;
	color: #F7B64E;
	font-size: 0.9em !important;
}

.tbl-counter {
	background-color: @brand-success;
	margin-left:8px;
}

.circle-5x {
	width:80px;
	height:80px;
	border-radius: 40px;
	text-align: center;
	margin-right:20px;
	padding-top:10px;
	display: inline-block;
}

.wait-icon-field {
	color: @gray-light;
	font-size:1.4em !important;
	margin: 0px 4px;
}

.wait-card {
	width:100%;
	text-align: center;
}
.wait-icon-card {
	color: @brand-success;
	font-size:4em !important;
	margin: 10px 10px 30px 10px;
}

.shadow {
	box-shadow: 2px 2px 14px #b0b0b0;
}

.highlight {
    background-color: @highlight-bg !important;
    color: #799483;
}

.text-small {
	font-size: 0.9em;
}

.text-big {
	font-size: 1.2em;
}

.status-box {
	padding:2px 4px;
	border-radius: 2px;
}

.open.scrollable-menu {
	.dropdown-menu {
	    height: auto;
	    max-height: 300px;
	    overflow-x: hidden;
	}
}

.size-2 {
	width: 100% / 2 !important;
	min-width: 120px;
}
.size-4 {
	width: 100% / 4 !important;
}
.size-3 {
	width: 100% / 3 !important;
}

.subtitle {
	font-size: 1.3em;
    font-weight: bold;
    color: #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    width: 100%;
    margin: 20px 0 10px 0;
}

.subtitle2 {
	font-size: 1.0em;
    color: #a0a0a0;
    border-bottom: 1px solid #cecece;
    width: 100%;
    margin: 20px 0 10px 0;
}

.lnk-muted {
	padding:0 6px;
	color: @link-muted-color;
	cursor: pointer;
    transition:0.5s ease;
}
.lnk-muted:hover {
	color: darken(@link-muted-color, 20%);
}

.lnk-circle {
    border-radius: 13px;
    border: 2px solid @link-muted-color;
    width: 26px;
    height: 26px;
    text-align: center;
    padding: 2px 2px;
}

.lnk-circle:hover {
	border-color: darken(@link-muted-color, 20%);
}

.lnk-label {
	color: @text-color;
	padding: 2px;
	cursor: pointer;
}

.lnk-label:hover {
	text-decoration: underline;
}

.input-btn-group {
	position: relative;

	input {
		padding-right: 25px;
	}

	.btn-group {
	    position: absolute;
	    right: 6px;
	    top: 6px;
	    height: 22px;
	    font-size: 16px;
	    cursor: pointer;
	    color: @input-btn-color;
		transition: 0.5s;
		margin-left:10px;
	}
}
.form-control-action {
    position: absolute;
    right: 6px;
    top: 6px;
    height: 22px;
    font-size: 16px;
    cursor: pointer;
    color: @input-btn-color;
	transition: 0.5s;
	margin-left:10px;
}

.form-control-action:hover {
	color: darken(@input-btn-color, 30%);
}

.input-right-button {
	padding-right: 25px;
}

.box-control {
	position: static !important;
	padding-right: 45px;
	width: 100%;
	outline: none;
}

.bold{
  font-weight:bold;
}

.table1-title-row div{
  padding:4px;
}

.app-tabs {
  border-bottom: none;
  margin-bottom: 9px;

  li.active {
    a, a:hover, a:visited {
      border-left: none !important;
      border-right: none !important;
      border-top: none !important;
      border-bottom: 4px solid @brand-success !important;
      font-weight: bold;
      color: @brand-success;
      background-color: transparent !important;
    }
  }

  li {
    a {
      color: #a0a0a0;
      text-transform: uppercase;
      padding: 6px 30px;
      border: none;
      border-bottom:4px solid transparent;

      transition: border-color 0.5s ease;
    }
    a:focus {
      background-color: transparent;
    }
    a:hover {
      background-color: transparent;
      border-color:@brand-success;
    }
  }
}


.app-tabs2 {
  border-bottom: none;
  background-color: @content-bgcolor;

  li {
    a {
      color: @text-muted;
      text-transform: uppercase;
      padding:5px 30px;
      background-color: @content-bgcolor;
      border: 1px solid @content-bgcolor !important;
      border-bottom: 1px solid @card-border-color !important;
      transition: background-color 0.5s ease;
    }
    a:focus {
      background-color: transparent;
    }
    a:hover {
      background-color: #fff;
    }
  }

  li.active {
    a, a:hover {
    	background-color: #fff;
    	border: 1px solid #fff !important;
    	font-weight: bold;
    	color: @text-muted;
    }
  }
}

.value-big {
	font-size: 26px;
	text-align: center;
	width: 100%;
}

.tag-link {
  cursor: pointer;
}

.tag-link:hover {
  background: #f0f0f0;
}

.tag-autodanger, .tag-manual, .tag-auto, .tag-subtitle {
  display: block;
  color: #909090;
  margin-top:2px;
  margin-bottom:2px;
  clear: both;
  padding:10px;
  border: 0 solid #fff;
  border-style: solid;
  border-left-width: 5px;
  margin-bottom: 4px;
  font-size: 13px;
}

.tag-autodanger {
  border-left-color: @brand-danger;
  font-weight: bold;
}

.tag-manual {
  border-left-color: @brand-primary;
}

.tag-auto {
  border-left-color: @brand-success;
}

.tag-subtitle {
  border-left-color: #909090;
  font-weight: bold;
  padding-left:10px;
  margin-left: -5px;
}

.tbl-hover .tbl-row:hover {
	background-color: @row-hover;
	cursor: pointer;
}

.tbl-title {
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
}
.tbl-row {
    border-top: 1px solid #f0f0f0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.tbl-cell {
	padding: 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.tbl-cell:hover {
	background-color: @row-hover;
}

.nopadding{
	padding-top:0px;
    padding-left:0px;
    padding-bottom:0px;
    padding-right:0px;
}

.col-center {
	display: inline-block;
	text-align: center;
}

.col-right {
	display: inline-block;
	text-align: right;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.tx-width {
	transition: width 0.4s ease-out;
	-webkit-transition: width 0.4s ease-out;
}

.inlineb {
	display: inline-block;
}

.nav-select {
	li {
		border-bottom: 1px solid #e5e5e5;
		margin-top: 0 !important;

		a {
			color: @text-color;
		}
	}

	li.active, li.active:hover {
		a {
			background-color: #e0e0e0;
			color: @text-color;
		}
	}

	li:hover {
		a {
			background-color: #f6f6f6;
			color: lighten(@text-color, 20%);
		}
	}

	li:last-child {
		border-bottom: none;
	}
}

@cmd-background: lighten(@navbar-inverse-bg, 50%);

.cmd-bar {
	background-color: @cmd-background;
	margin-bottom: 20px;

	.title {
	    text-align: center;
	    color: #fff;
	    padding: 4px;
	    font-weight: bold;
	    border-bottom: 1px solid darken(@cmd-background, 10%);
   	}

	a {
	    color: #000000;
	    text-transform: none !important;
	    border-top: 1px solid lighten(@cmd-background, 10%) !important;
	    border-bottom: 1px solid darken(@cmd-background, 10%);
	    border-left: none;
	    border-right: none;
	    padding: 6px 6px !important;
		transition: background-color 0.5s ease;

		.fa {
		    width: 32px;
		    padding: 6px 2px;
		    background-color: darken(@cmd-background, 30%);
		    margin-right: 8px;
		    color: #fff;
		    border-radius: 4px;
   		}
	}

	a:hover, a:focus {
		background-color: darken(@cmd-background, 30%) !important;
		color: #fff;
    	border-bottom: 1px solid lighten(@cmd-background, 10%) !important;
    	border-top: 1px solid darken(@cmd-background, 10%) !important;

    	.fa {
    		background-color: darken(@cmd-background, 50%);
    	}
	}

	a:first-child {
		border-top: none;
	}
}

.autoscroll {
	overflow-x: auto;
    height: auto;
    overflow-y: overlay;
    max-height: 500px;
}

.bg-danger2 {
  color: #ffffff;
  background-color: #a94442;
}

.bg-default2 {
  color: #000000;
  background-color: #eceeef;
}

.clearb {
  clear: both;
}

.selectable {
	display: inline-block;
	width: auto;
	padding:2px 4px;
	color: @text-color;
	text-decoration: none;
}

.selectable:hover {
	cursor: pointer;
	background-color: @brand-success;
	color: #ffffff;
	border-radius: 2px;
}