@card-border-color: #e8e8e8;


.card {
	background-color: #fff;
	margin-top:0px;
	border-radius: 2px;

	/** Style of the title */
	.card-header {
		padding:10px 20px 0 20px;
		font-weight: bold;
		h3, h4, h5 {
			margin-top:4px;
		}
		h4 {
			color: #808080;
		}
	}

	.card-btn-close {
		font-size: 1.4em;
	}

	.card-content {

		hr {
			margin-top:10px;
			margin-bottom:10px;
		}
	}

	.card-content:last-child {
		border-bottom: none;
	}

	.card-pad-sm {
		padding:8px;
	}

	div[class*="col-"] {
//		padding-left:8px;
//		padding-right:8px;

		.card {
			border: 1px solid @card-border-color;
		}
	}
}


.card-default {
	margin-bottom:20px;

	.card-content {
		padding:20px;
	}
}

.card-small {
	margin-bottom:10px;

	.card-content {
		padding:8px;
	}
}

.card-combine {
	margin-bottom:0;

	.card-content {
		padding: 20px;
	}
}

@media (max-width: @screen-xs-max)  {
	.card{
		.card-header {
			padding:10px 10px;
			.row {
				margin-left:5px;
				margin-right:5px;
			}
		}
		.card-content {
			padding: 8px 16px;
			margin-left: 25px;
			margin-right: 25px;
		}
	}

	div[class*="col-"] {
		padding-left:6px;
		padding-right:6px;
	}
}

.card-indicator {
	color: #909090;
	margin-bottom:1px;

	.card-header {
		padding-bottom: 1px;
		h4 {
			text-transform: uppercase;
			font-size:16px;
		}
	}

	.card-content {
		padding: 0 15px 20px 15px;

		.ind-value {
			font-size: 36px;
			font-weight: bold;
		}

		> div.row {
			padding-left:10px;
			padding-right:10px;
		}
	}
}

