
.card {
	background-color:white;
	margin-top:20px;
	border:1px solid #e8e8e8;
	border-radius: 2px;

	/** Style of the title */
	.card-title {
		padding:6px 20px;
		font-size: 20px;
		font-weight: bold;
	}

	.card-content {
		padding:20px;
		border-bottom:1px solid @btn-default-border;
	}

	.page-header {
		margin-top:4px;
		h1 {
			margin-top:8px;
			margin-bottom:4px;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
