
@profile-circlesize: 1.5em;

@profile-small-imgsize: 1.5em;
@profile-medium-imgsize: 2.6em;
@profile-large-imgsize: 4em;



.profile {
	padding-top:4px;
	overflow: auto;

	.profile-image {
		display: block;
		float: left;
		margin-right: 2px;
		overflow: hidden;
		text-align: center;
		line-height:1.5;
		width: @profile-circlesize;
		height: @profile-circlesize;
		border-radius: @profile-circlesize/2;
	}

	.profile-title {
		text-transform: uppercase;
		color: #505050;
	}
}


.profile-small {
	.profile-image {
		font-size: @profile-small-imgsize;
	}


	.profile-title {
		font-size: 1em;
		font-weight: bold;
	}

	.profile-subtitle {
		font-size:0.8em;
		color: #a0a0a0;
		line-height: 100%;
	}
}


.profile-medium {
	.profile-image {
		font-size: @profile-medium-imgsize;
		margin-right:8px;
	}

	.profile-title {
		font-size: 1.3em;
		font-weight: bold;
		padding-top:2px;
	}
}


.profile-large {
	.profile-image {
		font-size: @profile-large-imgsize;
		margin-right: 12px;
	}

	.profile-title {
		font-size: 2em;
		font-weight: bold;
	}

	.profile-subtitle {
		//line-height: 130%;
	}
}

.profile-img-default {
	color: #808080;
	background-color: #e8e8e8;
}
