.logo {
	font-size: 1.2em;
	.title {
		font-size: 3.2em;
		color: #a0a0a0;
		font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
		text-transform: uppercase;
		text-shadow: 0px 2px 3px #fff;
	}

}